Cython
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
Unidecode
p_tqdm
varname
tqdm
jieba
torchinfo
loguru
dotmap
inflect
encodec
lhotse
torchaudio
pysptk
g2pM
pypinyin
fastdtw
pyworld
gdown
descript-audio-codec
tomli